<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
    <nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">
            <i class="fa-sharp fa-solid fa-house fa-xl"></i> <span th:text="#{sidebar.link.home}"></span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="nav-link active" th:text="#{sidebar.titulo.departamentos}"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/departamentos/cadastrar}">
            <i class="fa-sharp fa-solid fa-plus fa-xl"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/departamentos/listar}">
            <i class="fa-solid fa-table-list fa-xl"></i> <span th:text="#{sidebar.link.listar}"></span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="nav-link active" th:text="#{sidebar.titulo.cargos}"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cargos/cadastrar}">
            <i class="fa-sharp fa-solid fa-plus fa-xl"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cargos/listar}">
            <i class="fa-solid fa-table-list fa-xl"></i> <span th:text="#{sidebar.link.listar}"></span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="nav-link active" th:text="#{sidebar.titulo.funcionarios}"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/funcionarios/cadastrar}">
            <i class="fa-sharp fa-solid fa-plus fa-xl"></i> <span th:text="#{sidebar.link.cadastrar}"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/funcionarios/listar}">
            <i class="fa-solid fa-table-list fa-xl"></i> <span th:text="#{sidebar.link.listar}"></span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>